/*INPUTS FORMS*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 50px auto !important;
  overflow: hidden; }

.aui select, .aui textarea, .aui input[type="text"], .aui input[type="password"], .aui input[type="datetime"], .aui input[type="datetime-local"], .aui input[type="date"], .aui input[type="month"], .aui input[type="time"], .aui input[type="week"], .aui input[type="number"], .aui input[type="email"], .aui input[type="url"], .aui input[type="search"], .aui input[type="tel"], .aui input[type="color"], .aui .uneditable-input {
  height: 45px;
  margin-bottom: 10px;
  font-size: 14px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  vertical-align: middle;
  display: block;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #5A575B;
  background-color: #EDEDED;
  background-image: none;
  border: 1px solid #F7F7F7;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  -webkit-transition: all .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: all .15s,box-shadow ease-in-out .15s;
  transition: all .15s,box-shadow ease-in-out .15s;
  width: 100%;
  box-sizing: border-box; }

.aui textarea:focus, .aui input[type="text"]:focus, .aui input[type="password"]:focus, .aui input[type="datetime"]:focus, .aui input[type="datetime-local"]:focus, .aui input[type="date"]:focus, .aui input[type="month"]:focus, .aui input[type="time"]:focus, .aui input[type="week"]:focus, .aui input[type="number"]:focus, .aui input[type="email"]:focus, .aui input[type="url"]:focus, .aui input[type="search"]:focus, .aui input[type="tel"]:focus, .aui input[type="color"]:focus, .aui .uneditable-input:focus {
  border-color: rgba(0, 0, 0, 0.8);
  outline: 0;
  border: 1px solid #bbb;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(247, 168, 247, 0.6);
  -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(247, 247, 247, 0.6);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(247, 247, 247, 0.6); }

/*Buttons*/
.aui .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  border-radius: 26px;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear; }

.aui .btn-primary {
  color: #fff;
  text-transform: uppercase;
  background-color: #737373 !important;
  border-color: transparent;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  background-color: initial;
  background-image: initial;
  background-image: initial;
  background-image: initial;
  background-image: initial;
  background-image: initial;
  background-repeat: repeat-x; }

.aui .btn-primary:hover, .aui .btn-primary:focus, .aui .btn-primary:active, .aui .btn-primary.active, .aui .btn-primary.disabled, .aui .btn-primary[disabled] {
  color: #373E4C;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0) !important;
  border-color: #2C2C2C;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
  outline: 0px; }

.rememberme {
  display: inline-block;
  float: left; }

.portlet-login .navigation {
  background: initial;
  border-top: initial;
  padding: 0;
  display: inline-block;
  float: right; }

/*FOOTER*/
.aui #footer {
  background: #525357 !important;
  color: #b5b6ba !important; }

.aui #footer h4 {
  font-size: 16px;
  text-transform: uppercase;
  color: #FEFFFE;
  margin: 0 0 5px 0; }

.aui ul.copyright {
  margin-top: 15px; }

.aui #footer a {
  color: #B3B3B7;
  font-weight: 200; }

.aui #footer a:hover {
  text-decoration: underline; }

.aui #footer .breadcrumb {
  background-color: #525357;
  color: #B5B6BA; }

.aui #footer .search {
  color: #fff; }

.search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  -webkit-border-radius: 14px !important;
  -moz-border-radius: 14px !important;
  border-radius: 14px !important; }

.aui #footer .search-query {
  padding: 4px 9px;
  font-family: JosefinSans, sans-serif;
  font-size: 13px;
  height: 35px;
  font-weight: normal;
  line-height: 1;
  color: #ffffff;
  background-color: #525357;
  border: 1px solid #636468;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1), 0 0px 0px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1), 0 0px 0px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1), 0 0px 0px rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  width: 100%; }

.aui .breadcrumb {
  padding: 0px 15px;
  color: #B5B6BA;
  margin: 0 0 20px;
  list-style: none;
  background-color: #525357;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

/*SEARCH*/
.aui .opened-search #banner #navigation .open-search {
  color: #fefefe !important;
  width: 13px; }

.aui #banner #navigation .portlet-search form input {
  -webkit-border-radius: 45px !important;
  -moz-border-radius: 45px !important;
  -ms-border-radius: 45px !important;
  -o-border-radius: 45px !important;
  background: #363636;
  border-radius: 45px !important;
  border: 1px solid #636468;
  color: #fff; }

.aui .opened-search #banner #navigation .portlet-search form input {
  padding: 0px 10px !important; }

/*LOGIN*/
.login-container {
  margin: 0 auto auto auto !important;
  width: 430px; }

iframe {
  left: 0;
  right: 0; }

/*HEADER*/
.aui #banner #heading .default-logo img {
  max-height: 62px !important;
  max-width: 185px !important;
  padding-top: 16px !important; }

.aui #banner {
  background: #363636 !important;
  height: 100px !important;
  z-index: 9; }

.inner-addon {
  position: relative; }

.inner-addon .glyphicon {
  position: absolute;
  padding: 9px 9px 0 0;
  pointer-events: none; }

/* align icon */
.left-addon .glyphicon {
  left: 0px;
  z-index: 3; }

.right-addon .glyphicon {
  right: 0px;
  z-index: 3; }

/* add padding  */
.left-addon input {
  padding-left: 30px; }

.right-addon input {
  padding-right: 30px; }

.zoom {
  transition: 1.5s ease;
  -moz-transition: 1.5s ease;
  /* Firefox */
  -webkit-transition: 1.5s ease;
  /* Chrome - Safari */
  -o-transition: 1.5s ease;
  /* Opera */
  cursor: pointer; }

.zoom:hover {
  transform: scale(2);
  moz-transform: scale(2);
  /* Firefox */
  -webkit-transform: scale(2);
  /* Chrome - Safari */
  -o-transform: scale(2);
  /* Opera */
  -ms-transform: scale(2);
  /* IE9 */ }

/*GLYPHICONS*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.glyphicon-asterisk:before {
  content: "\2a"; }

.glyphicon-plus:before {
  content: "\2b"; }

.glyphicon-euro:before,
.glyphicon-eur:before {
  content: "\20ac"; }

.glyphicon-minus:before {
  content: "\2212"; }

.glyphicon-cloud:before {
  content: "\2601"; }

.glyphicon-envelope:before {
  content: "\2709"; }

.glyphicon-pencil:before {
  content: "\270f"; }

.glyphicon-glass:before {
  content: "\e001"; }

.glyphicon-music:before {
  content: "\e002"; }

.glyphicon-search:before {
  content: "\e003"; }

.glyphicon-heart:before {
  content: "\e005"; }

.glyphicon-star:before {
  content: "\e006"; }

.glyphicon-star-empty:before {
  content: "\e007"; }

.glyphicon-user:before {
  content: "\e008"; }

.glyphicon-film:before {
  content: "\e009"; }

.glyphicon-th-large:before {
  content: "\e010"; }

.glyphicon-th:before {
  content: "\e011"; }

.glyphicon-th-list:before {
  content: "\e012"; }

.glyphicon-ok:before {
  content: "\e013"; }

.glyphicon-remove:before {
  content: "\e014"; }

.glyphicon-zoom-in:before {
  content: "\e015"; }

.glyphicon-zoom-out:before {
  content: "\e016"; }

.glyphicon-off:before {
  content: "\e017"; }

.glyphicon-signal:before {
  content: "\e018"; }

.glyphicon-cog:before {
  content: "\e019"; }

.glyphicon-trash:before {
  content: "\e020"; }

.glyphicon-home:before {
  content: "\e021"; }

.glyphicon-file:before {
  content: "\e022"; }

.glyphicon-time:before {
  content: "\e023"; }

.glyphicon-road:before {
  content: "\e024"; }

.glyphicon-download-alt:before {
  content: "\e025"; }

.glyphicon-download:before {
  content: "\e026"; }

.glyphicon-upload:before {
  content: "\e027"; }

.glyphicon-inbox:before {
  content: "\e028"; }

.glyphicon-play-circle:before {
  content: "\e029"; }

.glyphicon-repeat:before {
  content: "\e030"; }

.glyphicon-refresh:before {
  content: "\e031"; }

.glyphicon-list-alt:before {
  content: "\e032"; }

.glyphicon-lock:before {
  content: "\e033"; }

.glyphicon-flag:before {
  content: "\e034"; }

.glyphicon-headphones:before {
  content: "\e035"; }

.glyphicon-volume-off:before {
  content: "\e036"; }

.glyphicon-volume-down:before {
  content: "\e037"; }

.glyphicon-volume-up:before {
  content: "\e038"; }

.glyphicon-qrcode:before {
  content: "\e039"; }

.glyphicon-barcode:before {
  content: "\e040"; }

.glyphicon-tag:before {
  content: "\e041"; }

.glyphicon-tags:before {
  content: "\e042"; }

.glyphicon-book:before {
  content: "\e043"; }

.glyphicon-bookmark:before {
  content: "\e044"; }

.glyphicon-print:before {
  content: "\e045"; }

.glyphicon-camera:before {
  content: "\e046"; }

.glyphicon-font:before {
  content: "\e047"; }

.glyphicon-bold:before {
  content: "\e048"; }

.glyphicon-italic:before {
  content: "\e049"; }

.glyphicon-text-height:before {
  content: "\e050"; }

.glyphicon-text-width:before {
  content: "\e051"; }

.glyphicon-align-left:before {
  content: "\e052"; }

.glyphicon-align-center:before {
  content: "\e053"; }

.glyphicon-align-right:before {
  content: "\e054"; }

.glyphicon-align-justify:before {
  content: "\e055"; }

.glyphicon-list:before {
  content: "\e056"; }

.glyphicon-indent-left:before {
  content: "\e057"; }

.glyphicon-indent-right:before {
  content: "\e058"; }

.glyphicon-facetime-video:before {
  content: "\e059"; }

.glyphicon-picture:before {
  content: "\e060"; }

.glyphicon-map-marker:before {
  content: "\e062"; }

.glyphicon-adjust:before {
  content: "\e063"; }

.glyphicon-tint:before {
  content: "\e064"; }

.glyphicon-edit:before {
  content: "\e065"; }

.glyphicon-share:before {
  content: "\e066"; }

.glyphicon-check:before {
  content: "\e067"; }

.glyphicon-move:before {
  content: "\e068"; }

.glyphicon-step-backward:before {
  content: "\e069"; }

.glyphicon-fast-backward:before {
  content: "\e070"; }

.glyphicon-backward:before {
  content: "\e071"; }

.glyphicon-play:before {
  content: "\e072"; }

.glyphicon-pause:before {
  content: "\e073"; }

.glyphicon-stop:before {
  content: "\e074"; }

.glyphicon-forward:before {
  content: "\e075"; }

.glyphicon-fast-forward:before {
  content: "\e076"; }

.glyphicon-step-forward:before {
  content: "\e077"; }

.glyphicon-eject:before {
  content: "\e078"; }

.glyphicon-chevron-left:before {
  content: "\e079"; }

.glyphicon-chevron-right:before {
  content: "\e080"; }

.glyphicon-plus-sign:before {
  content: "\e081"; }

.glyphicon-minus-sign:before {
  content: "\e082"; }

.glyphicon-remove-sign:before {
  content: "\e083"; }

.glyphicon-ok-sign:before {
  content: "\e084"; }

.glyphicon-question-sign:before {
  content: "\e085"; }

.glyphicon-info-sign:before {
  content: "\e086"; }

.glyphicon-screenshot:before {
  content: "\e087"; }

.glyphicon-remove-circle:before {
  content: "\e088"; }

.glyphicon-ok-circle:before {
  content: "\e089"; }

.glyphicon-ban-circle:before {
  content: "\e090"; }

.glyphicon-arrow-left:before {
  content: "\e091"; }

.glyphicon-arrow-right:before {
  content: "\e092"; }

.glyphicon-arrow-up:before {
  content: "\e093"; }

.glyphicon-arrow-down:before {
  content: "\e094"; }

.glyphicon-share-alt:before {
  content: "\e095"; }

.glyphicon-resize-full:before {
  content: "\e096"; }

.glyphicon-resize-small:before {
  content: "\e097"; }

.glyphicon-exclamation-sign:before {
  content: "\e101"; }

.glyphicon-gift:before {
  content: "\e102"; }

.glyphicon-leaf:before {
  content: "\e103"; }

.glyphicon-fire:before {
  content: "\e104"; }

.glyphicon-eye-open:before {
  content: "\e105"; }

.glyphicon-eye-close:before {
  content: "\e106"; }

.glyphicon-warning-sign:before {
  content: "\e107"; }

.glyphicon-plane:before {
  content: "\e108"; }

.glyphicon-calendar:before {
  content: "\e109"; }

.glyphicon-random:before {
  content: "\e110"; }

.glyphicon-comment:before {
  content: "\e111"; }

.glyphicon-magnet:before {
  content: "\e112"; }

.glyphicon-chevron-up:before {
  content: "\e113"; }

.glyphicon-chevron-down:before {
  content: "\e114"; }

.glyphicon-retweet:before {
  content: "\e115"; }

.glyphicon-shopping-cart:before {
  content: "\e116"; }

.glyphicon-folder-close:before {
  content: "\e117"; }

.glyphicon-folder-open:before {
  content: "\e118"; }

.glyphicon-resize-vertical:before {
  content: "\e119"; }

.glyphicon-resize-horizontal:before {
  content: "\e120"; }

.glyphicon-hdd:before {
  content: "\e121"; }

.glyphicon-bullhorn:before {
  content: "\e122"; }

.glyphicon-bell:before {
  content: "\e123"; }

.glyphicon-certificate:before {
  content: "\e124"; }

.glyphicon-thumbs-up:before {
  content: "\e125"; }

.glyphicon-thumbs-down:before {
  content: "\e126"; }

.glyphicon-hand-right:before {
  content: "\e127"; }

.glyphicon-hand-left:before {
  content: "\e128"; }

.glyphicon-hand-up:before {
  content: "\e129"; }

.glyphicon-hand-down:before {
  content: "\e130"; }

.glyphicon-circle-arrow-right:before {
  content: "\e131"; }

.glyphicon-circle-arrow-left:before {
  content: "\e132"; }

.glyphicon-circle-arrow-up:before {
  content: "\e133"; }

.glyphicon-circle-arrow-down:before {
  content: "\e134"; }

.glyphicon-globe:before {
  content: "\e135"; }

.glyphicon-wrench:before {
  content: "\e136"; }

.glyphicon-tasks:before {
  content: "\e137"; }

.glyphicon-filter:before {
  content: "\e138"; }

.glyphicon-briefcase:before {
  content: "\e139"; }

.glyphicon-fullscreen:before {
  content: "\e140"; }

.glyphicon-dashboard:before {
  content: "\e141"; }

.glyphicon-paperclip:before {
  content: "\e142"; }

.glyphicon-heart-empty:before {
  content: "\e143"; }

.glyphicon-link:before {
  content: "\e144"; }

.glyphicon-phone:before {
  content: "\e145"; }

.glyphicon-pushpin:before {
  content: "\e146"; }

.glyphicon-usd:before {
  content: "\e148"; }

.glyphicon-gbp:before {
  content: "\e149"; }

.glyphicon-sort:before {
  content: "\e150"; }

.glyphicon-sort-by-alphabet:before {
  content: "\e151"; }

.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152"; }

.glyphicon-sort-by-order:before {
  content: "\e153"; }

.glyphicon-sort-by-order-alt:before {
  content: "\e154"; }

.glyphicon-sort-by-attributes:before {
  content: "\e155"; }

.glyphicon-sort-by-attributes-alt:before {
  content: "\e156"; }

.glyphicon-unchecked:before {
  content: "\e157"; }

.glyphicon-expand:before {
  content: "\e158"; }

.glyphicon-collapse-down:before {
  content: "\e159"; }

.glyphicon-collapse-up:before {
  content: "\e160"; }

.glyphicon-log-in:before {
  content: "\e161"; }

.glyphicon-flash:before {
  content: "\e162"; }

.glyphicon-log-out:before {
  content: "\e163"; }

.glyphicon-new-window:before {
  content: "\e164"; }

.glyphicon-record:before {
  content: "\e165"; }

.glyphicon-save:before {
  content: "\e166"; }

.glyphicon-open:before {
  content: "\e167"; }

.glyphicon-saved:before {
  content: "\e168"; }

.glyphicon-import:before {
  content: "\e169"; }

.glyphicon-export:before {
  content: "\e170"; }

.glyphicon-send:before {
  content: "\e171"; }

.glyphicon-floppy-disk:before {
  content: "\e172"; }

.glyphicon-floppy-saved:before {
  content: "\e173"; }

.glyphicon-floppy-remove:before {
  content: "\e174"; }

.glyphicon-floppy-save:before {
  content: "\e175"; }

.glyphicon-floppy-open:before {
  content: "\e176"; }

.glyphicon-credit-card:before {
  content: "\e177"; }

.glyphicon-transfer:before {
  content: "\e178"; }

.glyphicon-cutlery:before {
  content: "\e179"; }

.glyphicon-header:before {
  content: "\e180"; }

.glyphicon-compressed:before {
  content: "\e181"; }

.glyphicon-earphone:before {
  content: "\e182"; }

.glyphicon-phone-alt:before {
  content: "\e183"; }

.glyphicon-tower:before {
  content: "\e184"; }

.glyphicon-stats:before {
  content: "\e185"; }

.glyphicon-sd-video:before {
  content: "\e186"; }

.glyphicon-hd-video:before {
  content: "\e187"; }

.glyphicon-subtitles:before {
  content: "\e188"; }

.glyphicon-sound-stereo:before {
  content: "\e189"; }

.glyphicon-sound-dolby:before {
  content: "\e190"; }

.glyphicon-sound-5-1:before {
  content: "\e191"; }

.glyphicon-sound-6-1:before {
  content: "\e192"; }

.glyphicon-sound-7-1:before {
  content: "\e193"; }

.glyphicon-copyright-mark:before {
  content: "\e194"; }

.glyphicon-registration-mark:before {
  content: "\e195"; }

.glyphicon-cloud-download:before {
  content: "\e197"; }

.glyphicon-cloud-upload:before {
  content: "\e198"; }

.glyphicon-tree-conifer:before {
  content: "\e199"; }

.glyphicon-tree-deciduous:before {
  content: "\e200"; }

.glyphicon-cd:before {
  content: "\e201"; }

.glyphicon-save-file:before {
  content: "\e202"; }

.glyphicon-open-file:before {
  content: "\e203"; }

.glyphicon-level-up:before {
  content: "\e204"; }

.glyphicon-copy:before {
  content: "\e205"; }

.glyphicon-paste:before {
  content: "\e206"; }

.glyphicon-alert:before {
  content: "\e209"; }

.glyphicon-equalizer:before {
  content: "\e210"; }

.glyphicon-king:before {
  content: "\e211"; }

.glyphicon-queen:before {
  content: "\e212"; }

.glyphicon-pawn:before {
  content: "\e213"; }

.glyphicon-bishop:before {
  content: "\e214"; }

.glyphicon-knight:before {
  content: "\e215"; }

.glyphicon-baby-formula:before {
  content: "\e216"; }

.glyphicon-tent:before {
  content: "\26fa"; }

.glyphicon-blackboard:before {
  content: "\e218"; }

.glyphicon-bed:before {
  content: "\e219"; }

.glyphicon-apple:before {
  content: "\f8ff"; }

.glyphicon-erase:before {
  content: "\e221"; }

.glyphicon-hourglass:before {
  content: "\231b"; }

.glyphicon-lamp:before {
  content: "\e223"; }

.glyphicon-duplicate:before {
  content: "\e224"; }

.glyphicon-piggy-bank:before {
  content: "\e225"; }

.glyphicon-scissors:before {
  content: "\e226"; }

.glyphicon-bitcoin:before {
  content: "\e227"; }

.glyphicon-btc:before {
  content: "\e227"; }

.glyphicon-xbt:before {
  content: "\e227"; }

.glyphicon-yen:before {
  content: "\00a5"; }

.glyphicon-jpy:before {
  content: "\00a5"; }

.glyphicon-ruble:before {
  content: "\20bd"; }

.glyphicon-rub:before {
  content: "\20bd"; }

.glyphicon-scale:before {
  content: "\e230"; }

.glyphicon-ice-lolly:before {
  content: "\e231"; }

.glyphicon-ice-lolly-tasted:before {
  content: "\e232"; }

.glyphicon-education:before {
  content: "\e233"; }

.glyphicon-option-horizontal:before {
  content: "\e234"; }

.glyphicon-option-vertical:before {
  content: "\e235"; }

.glyphicon-menu-hamburger:before {
  content: "\e236"; }

.glyphicon-modal-window:before {
  content: "\e237"; }

.glyphicon-oil:before {
  content: "\e238"; }

.glyphicon-grain:before {
  content: "\e239"; }

.glyphicon-sunglasses:before {
  content: "\e240"; }

.glyphicon-text-size:before {
  content: "\e241"; }

.glyphicon-text-color:before {
  content: "\e242"; }

.glyphicon-text-background:before {
  content: "\e243"; }

.glyphicon-object-align-top:before {
  content: "\e244"; }

.glyphicon-object-align-bottom:before {
  content: "\e245"; }

.glyphicon-object-align-horizontal:before {
  content: "\e246"; }

.glyphicon-object-align-left:before {
  content: "\e247"; }

.glyphicon-object-align-vertical:before {
  content: "\e248"; }

.glyphicon-object-align-right:before {
  content: "\e249"; }

.glyphicon-triangle-right:before {
  content: "\e250"; }

.glyphicon-triangle-left:before {
  content: "\e251"; }

.glyphicon-triangle-bottom:before {
  content: "\e252"; }

.glyphicon-triangle-top:before {
  content: "\e253"; }

.glyphicon-console:before {
  content: "\e254"; }

.glyphicon-superscript:before {
  content: "\e255"; }

.glyphicon-subscript:before {
  content: "\e256"; }

.glyphicon-menu-left:before {
  content: "\e257"; }

.glyphicon-menu-right:before {
  content: "\e258"; }

.glyphicon-menu-down:before {
  content: "\e259"; }

.glyphicon-menu-up:before {
  content: "\e260"; }

/*LIFERAY ORIGIN*/
.aui {
  height: 100%;
  /* ---------- Carousel ---------- */
  /* ---------- dockbar vertical ---------- */ }
  .aui .dockbar-vertical .icon-toggle-dockbar {
    top: 55px; }
  .aui body {
    height: 100%; }
    .aui body.space-between-header #content {
      margin-top: 20px; }
    .aui body.negative-space-between-header #content {
      position: relative;
      top: -46px; }
    .aui body.yui3-skin-sam .yui3-widget-mask {
      opacity: .4; }
    .aui body.macModal {
      overflow: hidden; }
  .aui a {
    text-shadow: none; }
    .aui a.btn {
      border-radius: 0;
      border-width: 0; }
  .aui form {
    margin: 0; }
  .aui #macModal {
    border-radius: 0;
    height: 100%;
    display: block !important;
    left: inherit !important;
    overflow: auto;
    right: -50% !important;
    top: 0 !important;
    width: 50%;
    background: #555;
    color: #FFF;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg); }
    .aui #macModal.animOn {
      right: 0 !important;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      -ms-transform: rotate(0);
      -o-transform: rotate(0);
      transform: rotate(0);
      -webkit-transform: perspective(0) translate3d(0, 0, 0);
      -moz-transform: perspective(0) translate3d(0, 0, 0);
      -ms-transform: perspective(0) translate3d(0, 0, 0);
      -o-transform: perspective(0) translate3d(0, 0, 0);
      transform: perspective(0) translate3d(0, 0, 0); }
    .aui #macModal .hide {
      display: block !important;
      margin: 15px 0; }
      .aui #macModal .hide .row-fluid {
        margin: 25px 0; }
    .aui #macModal .modal-header {
      border-bottom: 1px solid #666;
      padding: 10px 25px; }
      .aui #macModal .modal-header .close {
        color: #FFF;
        font-size: 45px;
        line-height: 40px;
        opacity: 1;
        width: 30px; }
    .aui #macModal .modal-body {
      padding: 25px;
      max-height: inherit; }
      .aui #macModal .modal-body img.full {
        width: 100%; }
      .aui #macModal .modal-body h1 {
        display: none; }
  .aui #wrapper {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0; }
  .aui #banner {
    background: #666;
    height: 46px;
    z-index: 9; }
    .aui #banner a {
      color: #FFF;
      display: inline-block; }
      .aui #banner a:hover, .aui #banner a.active {
        text-decoration: none;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
        opacity: 0.5; }
    .aui #banner #heading {
      display: inline-block; }
      .aui #banner #heading .default-logo {
        min-height: 46px; }
        .aui #banner #heading .default-logo img {
          max-height: 35px;
          max-width: 35px;
          padding-top: 3px; }
    .aui #banner #navigation {
      display: block;
      text-align: justify; }
      .aui #banner #navigation ul {
        margin: 0;
        min-height: 46px;
        vertical-align: top; }
      .aui #banner #navigation #heading {
        display: inline-block;
        width: 35px; }
      .aui #banner #navigation li {
        display: inline-block;
        list-style: none; }
        .aui #banner #navigation li a {
          display: block;
          font-size: 110%;
          font-weight: 300;
          line-height: 25px;
          padding: 10px; }
        .aui #banner #navigation li.selected a {
          opacity: 0.7; }
      .aui #banner #navigation #sign-in {
        display: inline-block;
        font-size: 20px;
        margin-left: 20px;
        vertical-align: middle; }
      .aui #banner #navigation .right-icon-group {
        display: inline-block;
        text-align: right; }
      .aui #banner #navigation .portlet-search {
        display: inline-block;
        margin-right: -25px; }
        .aui #banner #navigation .portlet-search form {
          margin: 0;
          padding: 0; }
          .aui #banner #navigation .portlet-search form input {
            margin-bottom: 3px;
            padding: 0;
            width: 1px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            border-radius: 5px;
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
            opacity: 0; }
          .aui #banner #navigation .portlet-search form select, .aui #banner #navigation .portlet-search form input[type="image"] {
            display: none; }
      .aui #banner #navigation .ul-main-nav:after {
        content: " ";
        display: inline-block;
        height: 0;
        position: relative;
        width: 100%; }
      .aui #banner #navigation * {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        -webkit-transform: perspective(0) translate3d(0, 0, 0);
        -moz-transform: perspective(0) translate3d(0, 0, 0);
        -ms-transform: perspective(0) translate3d(0, 0, 0);
        -o-transform: perspective(0) translate3d(0, 0, 0);
        transform: perspective(0) translate3d(0, 0, 0); }
  .aui .opened-search #banner #navigation .portlet-search form input {
    padding: 4px;
    width: 150px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }
  .aui .opened-search #banner #navigation .open-search {
    color: #555;
    width: 13px; }
    .aui .opened-search #banner #navigation .open-search .icon-search:before {
      content: "\f054"; }
  .aui #content {
    min-height: 100%;
    padding: 0; }
  .aui #footer {
    background: #F2F2F2; }
    .aui #footer .container {
      padding: 20px 0; }
  .aui .component.carousel {
    line-height: inherit;
    margin-bottom: 0;
    overflow: hidden; }
    .aui .component.carousel .carousel-item {
      width: 100%; }
    .aui .component.carousel menu {
      background: transparent;
      bottom: 0;
      height: 10%;
      left: 0;
      padding: 0;
      text-align: center;
      width: 100%; }
      .aui .component.carousel menu li {
        display: inline-block;
        float: none; }
        .aui .component.carousel menu li .carousel-menu-item {
          bottom: 20px; }
        .aui .component.carousel menu li .carousel-menu-prev, .aui .component.carousel menu li .carousel-menu-next {
          background: url(@theme_image_path@/carousel/prev.png) transparent no-repeat center;
          bottom: 300%;
          height: 50px;
          left: 50px;
          opacity: 0;
          position: absolute;
          width: 50px;
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
          -webkit-transform: perspective(0) translate3d(0, 0, 0);
          -moz-transform: perspective(0) translate3d(0, 0, 0);
          -ms-transform: perspective(0) translate3d(0, 0, 0);
          -o-transform: perspective(0) translate3d(0, 0, 0);
          transform: perspective(0) translate3d(0, 0, 0); }
          .aui .component.carousel menu li .carousel-menu-prev:hover, .aui .component.carousel menu li .carousel-menu-next:hover {
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
            opacity: 0.4;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
            -webkit-transform: perspective(0) translate3d(0, 0, 0);
            -moz-transform: perspective(0) translate3d(0, 0, 0);
            -ms-transform: perspective(0) translate3d(0, 0, 0);
            -o-transform: perspective(0) translate3d(0, 0, 0);
            transform: perspective(0) translate3d(0, 0, 0); }
        .aui .component.carousel menu li .carousel-menu-next {
          background-image: url(@theme_image_path@/carousel/next.png);
          left: inherit;
          right: 50px; }
        .aui .component.carousel menu li .carousel-menu-index {
          background: #FFF;
          margin: 3px;
          padding: 1px; }
          .aui .component.carousel menu li .carousel-menu-index.carousel-menu-active {
            background: transparent;
            border: 2px solid #FFF;
            margin: 1px; }
        .aui .component.carousel menu li .carousel-menu-pause {
          background-size: cover;
          border: 2px solid #FFF;
          display: none;
          height: 12px;
          margin: 0 7px;
          width: 12px; }
    .aui .component.carousel:hover menu .carousel-menu-prev, .aui .component.carousel:hover .carousel-menu-next {
      opacity: 1; }
  .aui .columns-max {
    margin: 0 auto;
    max-width: 1170px; }
  .aui .dockbar-vertical .icon-toggle-dockbar {
    z-index: 9; }
  .aui .dockbar-vertical .portlet-dockbar .navbar {
    z-index: 10; }

/* ---------- Responsive ---------- */
@media screen and (min-width: 1170px) {
  .aui .opened-search #banner #navigation .portlet-search form input {
    width: 150px; } }
@media (min-width: 768px) and (max-width: 979px) {
  #banner #navigation li a {
    float: left;
    padding: 2%;
    text-align: center;
    width: 22%; } }
@media (max-width: 979px) {
  .aui body {
    padding: 0; }
    .aui body .portlet-dockbar {
      display: block; }
  .aui #macModal {
    width: 100%; }
  .aui #banner {
    height: auto; }
    .aui #banner .container {
      width: 100%; }
    .aui #banner #navigation .menu-icon {
      cursor: pointer;
      height: 25px;
      left: 20px;
      position: absolute;
      top: 12px;
      width: 25px; }
      .aui #banner #navigation .menu-icon .line1, .aui #banner #navigation .menu-icon .line2 {
        background: #FFF;
        display: block;
        height: 3px;
        position: relative;
        top: 7px;
        width: 17px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px; }
      .aui #banner #navigation .menu-icon .line2 {
        top: 12px; }
    .aui #banner #navigation #heading {
      left: 50%;
      margin-left: -20px;
      position: relative;
      top: 13px;
      width: 40px; }
    .aui #banner #navigation .right-icon-group {
      position: absolute;
      right: 20px;
      top: 13px; }
    .aui #banner #navigation ul li {
      display: none; }
  .aui .opened-search #banner #navigation .portlet-search form input {
    font-size: 110%;
    padding: 2px 4px; }
  .aui .opened-menu-icon #banner #navigation .menu-icon .line1 {
    top: 12px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg); }
  .aui .opened-menu-icon #banner #navigation .menu-icon .line2 {
    top: 9px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  .aui .opened-menu-icon #banner #navigation ul li {
    display: block; }
  .aui .opened-menu-icon #banner #navigation #heading {
    padding-bottom: 30px; }
  .aui #footer ul {
    padding: 20px; } }
@media (max-width: 767px) {
  .aui .marginsOnMobile {
    padding: 0 20px; } }

